@import "tailwindcss";

@theme {
  --color-brand: var(--accent);
  --color-brand-bg: var(--accent-bg);
  --color-brand-border: var(--accent-border);
  --color-main-bg: var(--bg);
  --color-main-text: var(--text);
  --color-heading: var(--text-h);
  --color-ui-border: var(--border);

  --font-sans: var(--sans);
  --font-mono: var(--mono);
}

@layer base {
  /* This makes the theme automatic for the whole site */
  html,
  body {
    @apply bg-main-bg text-main-text transition-colors duration-300;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3 {
    @apply text-heading font-bold;
  }
}

/* --- LIGHT THEME (Default) --- */
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --sans: system-ui, sans-serif;
  --mono: ui-monospace, monospace;
}

/* --- DARK THEME --- */
/* This will trigger when you add the 'dark' class to your <html> tag */
.dark {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
}
